@charset "UTF-8";
/*REgar caso haja problema com acentuação*/

body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    color: blue;
    background-color: azure;
}

h2{
    color: blueviolet;
}

p {
    text-align: justify;
}