@charset "UTF-8";

/* Todas as demais midias */

/* 
TYPICAL DEVICE BREAKPOINTS
---------------------------
pequenas telas < 600px
600px < CELULAR < 768px
768px < TABLET < 992px
992px < Computadores < 1200px
Grandes telas > 1200px
*/

/* Para IMPReSSÃO */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../../imagens/back-print.jpg);
        /* Desnecessário (Não sai backgroud em print) */
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }
    
    main::after {
        content: 'Impressão feita por site www.xxxxxxxxx.com.br';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    
    img#print { display: block; }
    #cel, #tab, #pc, #tv { display: none; }
}

/* Para TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }
    
    img#tab { display: block; }
    img#cel, img#print, img#pc, img#tv { display: none; }
}

/* Para PC */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }
    
    img#pc { display: block; }
    img#cel, img#print, img#tab, img#tv { display: none; }
}

/* Para TELAS GRANDES (TV e entre outras) */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }    

    img#tv { display: block; }
    img#cel, img#print, img#tab, img#pc { display: none; }
}